@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-app {
  box-shadow: 0px 2px rgb(221, 215, 215);
  color: rgb(105, 99, 99);
  display: flex;
  font-size: 4em;
  font-family: "Work Sans", sans-serif;
  font-weight: lighter;
  padding: 0.3em 0.6em;
}

.main-app {
  width: 52%;
}

@media only screen and (max-width: 600px) {
  .main-app {
    font-size: 2em;
    display: flex;
    justify-content: center;
  }
}

.logout {
  color: white;
  text-decoration: none;
}

.main_height {
  background-image: url("https://images.pexels.com/photos/316466/pexels-photo-316466.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
}

/* MainPage */
.main_page {
  display: flex;
  justify-content: center;
  padding: 0.6em 0;
  width: 60%;
}

/* Adspage */
.create_button {
  background-color: #037971;
  border: hidden;
  color: white;
  font-size: 20px;
  margin-top: 6px;
  margin-left: 10px;
  padding: 10px 10px 10px 10px;
}
