@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.footer {
  align-items: center;
  align-content: center;
  background-color: #037971;
  bottom: 0;
  color: white;
  display: flex;
  font-family: "Roboto Slab", serif;
  justify-content: center;
  height: 6vh;
  position: absolute;
  text-align: center;
  width: 100%;
}
